*.env
*env
venv
__pycache__
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
venv/
env/

# Ignore Windows folder metadata files
desktop.ini
**/desktop.ini

# Ignore IDE specific files
.vscode/
.idea/